<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/script.css">
</head>
<body>
    <div class="container">
        <div class="logo">
            <div class="circle"></div>
        </div>
        <h1>Hey!</h1>
        <h2>Login now,</h2>
        <p>Here for the first time? <a href="#"id="create-new-link">Create new.</a></p>

        <input type="text" placeholder="donjoe.example" class="input-field">
        <br>
        <input type="password" placeholder="Password" class="input-field">

        <p class="forgot-password">Forgot password? <a href="#">Reset it here.</a></p>

        <button class="login-button" id="login-button">Login</button>
    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>